div#top1 {
    margin-left: 110px;
    font-size: 12px;
}

.fa-solid{
    color: #cfd6e1;
}
.htxt {
    color: #cfd6e1;
    margin-left: 11px;
}
i.fa-solid.fa-phone-flip {
    margin-left: 15px;
}
i.fa-brands {
    margin-left: 13px;
}
.icon2 {
    margin-left: 922px;
}
.fa-brands{
    color: #cfd6e1;

}
a#zay {
    color: #59ab6e;
    font-size: 50px;
    font-weight: 600;
    margin-left: 110px;
}
ul#navitems {
    font-size: 24px;
    margin-left: 150px;
    font-family: ui-serif;
    font-weight: lighter;
    margin-top: 6px;
}
li.nav-item {
    margin-left: 95px;
}

.navicons {
    margin-top: 23px;
    margin-bottom: 33px;
}
i.fa-solid.fa-magnifying-glass.text-dark {
    font-size: 20px;
}
span.cart {
    margin-left: 25px;
    color: black;
}
i.fa-solid.fa-user.text-dark {
    margin-left: 13px;
}
.cart1 {
    position: relative;
    left: -12px;
    font-size: 14px;
    top: -13px;
    background: aliceblue;
    border: 0px solid aliceblue;
    border-radius: 25px;
    text-align: center;
    align-items: center;
}

  