@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #666666;
}

#header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

#main {
    position: relative;
}

img.img-fluid {
    margin-left: 84px;
}

a.nav-link.active {
    color: #fec955;
    text-decoration: underline;
    font-size: 17px;
    font-weight: bold;
}
ul.navbar-nav.ms-auto {
    margin-right: 224px;
}
li.nav-item {
    margin-left: 30px;
}
a.nav-link {
    color: white;
    font-size: 17px;
    font-weight: 700;
}
a.nav-link:hover {
    color: #fec955;
    text-decoration: underline;
}
.search{
    color: white;
    font-size: 17px;
}
.search:hover{
    color: #fec955;
}
.bgtext{
    position: absolute; 
    top: 240px;
    margin-left: 216px;
}
/* .texth1 {
    color: #fff;
    font-size: 67px;
    font-weight: bold;
    font-style: unset;
}
.textpara{
    background: red;
} */
