 #navclr {
    font-size: 55px;
    font-style: unset;
    margin-left: 30px;
    font-weight: 700;
}
#active{
    color: #DA9F5B;
 }

 ul#navbarclr {
    font-size: 18px;
    margin-right: 40px;
}
a.nav-link {
    color: #FFFBF2;
    font-weight: bold;

}
a.nav-link:hover{
    color: #DA9F5B;

}
a.nav-item {
    color: #FFFBF2;

}
li.nav-item {
    margin-left: 20px;
}
.h5yel{
    color: #DA9F5B;

}
.content1 {
    margin-bottom: 390px;
}
.content1 {
    border: 3px solid red;
    margin-bottom: 390px;
}
